.page {
  width: 100%;
  min-height: 100vh;


  font-family: "Fredoka", sans-serif;
}


.main {
  padding-top: 85px;
}


.hero {
  position: relative;

  width: 92%;
  max-width: 1750px;

  /* deixa o card menor verticalmente */
  min-height: calc(100vh - 220px);

  /* centraliza horizontalmente */
  margin: 100px 70px 20px 52px;

  padding: 55px 0;

  background-color: #fff3e3;

  border-radius: 24px;

  display: flex;
  align-items: center;

  overflow: hidden;

  box-sizing: border-box;
}

.conteudo {
  position: relative;
  z-index: 5;


  width: calc(100% - 100px);
  max-width: 1600px;

  margin: 0 auto;

  display: grid;
  grid-template-columns: 43% 57%;

  align-items: center;

  box-sizing: border-box;
}

.textos {

  position: relative;

  z-index: 10;

  display: flex;

  flex-direction: column;

  align-items: flex-start;

  justify-content: center;
}


.textos h1 {
  margin: 0;

  flex-direction: column;

  align-items: flex-start;

  color: #6d4029;

  font-family: "Fredoka", sans-serif;

  font-size: clamp(55px, 4.3vw, 82px);

  font-weight: 700;

  line-height: 0.92;

}


.primeiraLinha {
  display: flex !important;

  flex-direction: row !important;

  align-items: center;

  gap: 18px;

  width: fit-content;

  margin-bottom: 7px;
}


.primeiraLinha > span {
  display: block;
}


.logoTitulo {
  display: block;
  position: relative;
  top: 20rem;

  height: auto;

}


.linhaTitulo {
  display: block;

  width: fit-content;
}


.textos p {
  margin:

    32px
    0
    30px
    0;

  color: #6d4029;

  font-family: "Fredoka", sans-serif;

  font-size: 17px;

  font-weight: 400;

  line-height: 1.55;
}


.botao {
  display: flex;
  
  align-items: center;
  
  justify-content: center;
  
  gap: 10px;

  width: fit-content;
  
  padding: 8px 15px;
  
  background-color: var(--laranja);
  
  color: #ffffff;
  
  text-decoration: none;
  
  border-radius: 12px;
  
  font-family: "Fredoka", sans-serif;
  
  font-size: 14px;
  
  font-weight: 600;
  
  transition:
  transform 0.25s ease,
  box-shadow 0.25s ease,
  background-color 0.25s ease;
}

.botao span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}


.botao:hover {
  transform: translateY(-3px);

  background-color: #ed4700;

  box-shadow:
    0 10px 25px
    rgba(255, 77, 0, 0.22);
}


.seta {
  display: flex;

  align-items: center;

  justify-content: center;

  font-size: 25px;

  font-weight: 400;

  line-height: 1;
}


.areaImagem {
  position: relative;

  z-index: 6;

  width: 100%;

  height: 100%;

  min-height: 580px;

  display: flex;

  align-items: center;

  justify-content: flex-end;
}


.imagemDoces {
  position: relative;

  z-index: 5;

  display: block;

  width: 110%;

  max-width: 900px;

  height: auto;

  object-fit: contain;

  transform: translateX(30px);
}

/* =========================================
   CARD FRASE
========================================= */

.cardFrase {
  position: relative;

  width: 92%;
  max-width: 1750px;
  height: 70vh;

  margin: 20px auto;

  background-color: #fff3e3;

  border-radius: 24px;

  overflow: hidden;

  display: flex;
  align-items: center;

  box-sizing: border-box;
}


/* =========================================
   TEXTO
========================================= */

.cardFraseTexto {
  position: relative;
  z-index: 10;

  width: 38%;

  padding-left: 70px;

  box-sizing: border-box;
}


.cardFraseTexto h2 {
  margin: 0;

  font-family: "Fredoka", sans-serif;

  color: #542d1c;

  font-size: 55px;
  font-weight: 700;

  line-height: 1.05;

  letter-spacing: -1px;
}


.cardFraseTexto h2 span {
  color: #ff4d00;
}


/* LINHA ABAIXO DO TÍTULO */

.linhaFrase {
  width: 85px;
  height: 4px;

  margin: 25px 0;

  background-color: #ff4d00;

  border-radius: 20px;
}


/* TEXTO MENOR */

.cardFraseTexto p {
  margin: 0;

  font-family: "Fredoka", sans-serif;

  color: #6d4029;

  font-size: 21px;
  font-weight: 400;

  line-height: 1.4;
}


/* =========================================
   IMAGEM
========================================= */

.cardFraseImagem {
  position: absolute;

  top: 0;
  right: 0;

  z-index: 5;

  width: 68%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.cardFraseImagem img {
  position: relative;

  z-index: 5;

  width: 100%;
  height: 100%;

  display: block;

  object-fit: contain;

  object-position: right center;
}


/* =========================================
   FUNDO LARANJA DO LADO DIREITO
========================================= */

.formaLaranja {
  position: absolute;

  z-index: 2;

  right: -160px;
  bottom: -270px;

  width: 700px;
  height: 700px;

  border-radius: 50%;

  background-color: #ff4d00;
}


/* =========================================
   RESPONSIVO
========================================= */

@media (max-width: 1100px) {

  .cardFrase {
    height: 400px;
  }

  .cardFraseTexto {
    padding-left: 45px;
  }

  .cardFraseTexto h2 {
    font-size: 45px;
  }

  .cardFraseTexto p {
    font-size: 18px;
  }

}


@media (max-width: 750px) {

  .cardFrase {
    width: calc(100% - 30px);

    height: auto;
    min-height: 600px;

    flex-direction: column;

    align-items: flex-start;
  }

  .cardFraseTexto {
    width: 100%;

    padding: 40px 30px;

    z-index: 10;
  }

  .cardFraseTexto h2 {
    font-size: 42px;
  }

  .cardFraseImagem {
    position: relative;

    width: 100%;
    height: 300px;
  }

  .cardFraseImagem img {
    object-position: center bottom;
  }

  .formaLaranja {
    width: 400px;
    height: 400px;

    right: -220px;
    bottom: -180px;
  }
}