*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

:root{
  --marrom: #6D4029;
  --laranja: #ff4d00;
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar premium */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: var(--laranja);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--laranja);
}
